.responseField {
    background-color: var(--__white-color);
    width: 80%;
    height: 45px;
    padding-right: 1rem;
    max-width: 700px;
    border-radius: 7px;
    filter: drop-shadow(0 4px 20px rgba(161, 161, 161, 0.25));
    text-align: left;
    display: flex;
    align-items: center;

    .selection {
        height: 100%;
        width: 7px;
        margin-right: 15px;
    }

    &.selected-answer {
        background-color: var(--__secondary-color);
        .selection{
            background-color: var(--__main-color);
        }
    }

    &.right-answer {
        background-color: var(--__light-green-color);
        .selection{
            background-color: var(--__green-color);
        }
    }

    &.wrong-answer {
        background-color: var(--__light-red-color);
        .selection{
            background-color: var(--__red-color);
        }
    }

    label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    input[type="radio"] {
        display: none;
    }

    .radio-custom {
        width: 15px;
        height: 15px;
        border: 2px solid black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    input:checked + .radio-custom {
        border-color: var(--__main-color);
        background-color: white;
    }

    input:checked + .radio-custom::after {
        content: "";
        width: 9px;
        height: 9px;
        background-color: var(--__main-color);
        border-radius: 50%;
    }
}